[submodule "applications/common/assets/bootstrap"]
	path = applications/common/assets/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "applications/common/assets/bootstrap-font-awesome"]
	path = applications/common/assets/bootstrap-font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "lib/vendor/CssMin"]
	path = lib/vendor/CssMin
	url = https://github.com/natxet/CssMin.git
[submodule "lib/vendor/Minify"]
	path = lib/vendor/Minify
	url = https://github.com/mrclay/minify.git
[submodule "lib/vendor/Lessphp"]
	path = lib/vendor/Lessphp
	url = https://github.com/leafo/lessphp.git
[submodule "lib/vendor/Assetic"]
	path = lib/vendor/Assetic
	url = https://github.com/kriswallsmith/assetic.git
[submodule "lib/vendor/Imagine"]
	path = lib/vendor/Imagine
	url = git://github.com/avalanche123/Imagine.git
[submodule "lib/vendor/Opl"]
	path = lib/vendor/Opl
	url = https://github.com/OPL/opl3-autoloader.git
[submodule "applications/common/assets/css/less"]
	path = applications/common/assets/css/less
	url = git://github.com/jonikorpi/Less-Framework.git
[submodule "applications/common/assets/js/jquery-validation"]
	path = applications/common/assets/js/jquery-validation
	url = https://github.com/jzaefferer/jquery-validation.git
[submodule "applications/common/modules/Thumbnail/assets/fancyBox"]
	path = applications/common/modules/Thumbnail/assets/fancyBox
	url = git://github.com/fancyapps/fancyBox.git
[submodule "applications/common/assets/bootstrap-glyphicons"]
	path = applications/common/assets/bootstrap-glyphicons
	url = https://github.com/twbs/bootstrap-glyphicons.git
