DirectoryIndex index.html index.php /.h5ai/server/php/index.php

<IfModule mod_rewrite.c>
	RewriteEngine on

	# Mime static sitemap.xml
	RewriteRule ^sitemap.xml$ index.php?path=sitemap.sitemap

	# if it's not a real file
	RewriteCond %{REQUEST_FILENAME} !-f
	# if it's not a real directory
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ index.php?path=$1&%{QUERY_STRING} [L]

</IfModule>