@import "../../../common/assets/bootstrap/less/bootstrap.less";
@import "../../../common/assets/bootstrap/less/responsive.less";
@import "../../../common/assets/bootstrap-font-awesome/less/font-awesome.less";
@import "paths.less"; // customized variables (overrides)

a.thumbnail:hover {
	.box-shadow(0 0 12px fadeout(#000, 40%));
}

// Text shadows
.text-shadow(@color: @backgroundColor, @offsetX: 0, @offsetY: 0, @blur: 5px) {
  text-shadow: @offsetX @offsetY @blur @color;
       // filter: e(%("dropshadow(color=%d, offx=%d, offy=%d)",argb(@color),floor(@offsetX),floor(@offsetY) )); // IE9 and down
       filter: e(%("Glow(%d, strength=%d)",argb(@color),floor(@blur) )); // IE9 and down
}

.siteanchor
{
	.opacity(0);
	.transition(
		opacity	//property
		.5s		//duration
		linear	//timing function
		.5s		//delay
	);
	margin-left: .2em;
	:hover &
	{
		h1&,
		h2&,
		h3&,
		h4&,
		h5&,
		h6& {
			.opacity(80);
			text-decoration: none;
		}
	}
}

a[href^="http"]::after, a[href^="http"]:after {
	display: inline-block;
	width: auto;
	height: auto;
	line-height: inherit;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	content: "\f08e"; /* icon-external-link */
	color: @blueDark;
	padding-left: 3px;
}

article header {
	.page-header;
}
/*
@media (min-width: 768px) and (max-width: 1199px) {
	article header {
		margin-left: 20px;
	}
}

@media (min-width: 1200px) {
	article header {
		margin-left: 30px;
	}
}

section header {
	margin-left: 0;
}*/


footer section {
	padding-bottom: 3em;
}

form .required {
	padding: 0 2px;
	font-weight: bold;
	color: @red;
}

label .required {
	padding-right: 0;
}

.hero-unit {
	background: @grayLight url(http://lorempixel.com/1170/500/) no-repeat top left;
	height: 250px;
	overflow: hidden;
	color: @white;
	.text-shadow(@textColor);
}

.galleryheader {
	background: url(/dresscode/gallery/IMG-5.jpg) repeat-x center center;
}