.slider {
	height: 100%;
	min-height: 190px;
	overflow: hidden;
	position: relative;
}

.slider .slide {
	width: 100%; /* this is important */
	overflow: hidden;
	position: absolute;
	display: none;
}