body
{
	padding: 0;
	margin: 0 auto;
	background: #222 url(http://subtlepatterns.com/patterns/px_by_Gre3g.png) repeat top left;
	text-shadow: rgba(0,0,0, .2) 0px 0px 6px;
	line-height: 1.5em;
}
#container
{
	background: #fafaf5 url(http://subtlepatterns.com/patterns/stucco.png) repeat top left;
	border-radius: 0.1em;
	box-shadow: rgba(0,0,0, 1) 0px 0px 80px;
}

#container > article, #container > footer
{
	padding: 20px 40px;
}


#container > header, #container > footer
{
	background-color: #303025;
	min-height: 300px;
	box-shadow: inset rgba(0,0,0, .3) 0px 20px 20px;
	overflow: hidden; /* clears floating */
}

#container > header
{
	box-shadow: inset rgba(0,0,0, .3) 0px -20px 20px;
}

#container > footer
{
	padding-top: 50px;
}


ul, ol
{
	margin-left: 2em;
}

ul, ol, p
{
	margin-bottom: 2em;
}

ul ul, ol ol, ul ol, ol ul
{
	margin: 0 0 0 1em;;
}

h1 {font-size: 3em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.3em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}
h1,h2,h3,h4,h5,h6
{

	margin-bottom: .33em;
}

h1
{
	border-bottom: 2px solid #999;
}

h1 .pilcrow,
h2 .pilcrow,
h3 .pilcrow,
h4 .pilcrow,
h5 .pilcrow,
h6 .pilcrow
{
	display:none;
}

h1:hover .pilcrow,
h2:hover .pilcrow,
h3:hover .pilcrow,
h4:hover .pilcrow,
h5:hover .pilcrow,
h6:hover .pilcrow
{
	display:inline;
	margin-left: 0.1em;
}

img
{
	display: inline-block;
}

object
{
	display: block;
	width: 100%;
	height: 459px;
	margin-bottom: 2em;
	box-shadow: rgba(0,0,0, .4) 0px 10px 20px;
}

a[href^="http://"]:hover:after, a[href^="https://"]:hover:after
{
	content: "\21D2";
	padding-left: 0.1em;
}

a, a:link
{
	color: #88b;
	text-decoration: none;
	text-shadow: none;
}

a:visited
{
	color: #99c;
}

footer
{
	color: #fff;
	font-size: 8pt;
}

footer a:focus, footer a:hover, footer a:active
{
	color: #aad;
	text-decoration: underline;
}

footer a, footer a:link
{
	color: #ccd;
	text-decoration: none;
	text-shadow: none;
}

footer a:visited
{
	color: #dde;
}

footer a:focus, footer a:hover, footer a:active
{
	color: #eef;
	text-decoration: underline;
}

footer section
{
	width: 175px;
	float:left;
	margin-left: 38px;
}

footer section:first-child
{
	margin-left: 0;
}

footer h4
{
	border-bottom: 2px solid #999;
}

.error
{
	color: #000;
	border: 4px solid #f40;
	background-color: #f90;
	padding: 20px;
}

.error h1
{
	border-bottom-color: #f00;
}